@charset "utf-8";
/* CSS Document */

h1 {
    padding-top: 1vw;
    }

h3 {
    text-align: center;
    }

p {
    margin-left: 10%;
    margin-right: 10%;
    }

div {
    margin: 1vw;
    margin-bottom: 0;
}

.button {
    margin-right: 15px;
    }

nav {
	 background-color:black;
	 line-height:200%;
	 display: block;
		}

nav li {
		display: inline;
		list-style-type: none;
		margin-right: 5vw;
		}
	
nav a  {
		color: white;
		font-weight: bold;
		text-decoration: none;
		}

nav a:hover {
		color:red;
		font-weight:bold;
		text-decoration:underline;
		}

.item_img {
    width: 70%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.home_img {
    width: 100%;
    }

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    }

.flex-container > section {
    height: 450px;
    width: 33%;
    }

    #container {
		width: 90%;
		margin: 10px auto;
		clear: both;
		background-color: white;
	}
	
	header {
		background-color: maroon;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		text-align: center;
		color: white;
	}

	footer {
		border-top: solid 2px black;
		font-size: 1.1em;
		font-weight: bold;
		background-color: maroon;
		margin-top: 1em;
		padding: 1em auto;
		text-align: center;
		color: white;
		clear: both;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		}